**Assingment 1.1**: WAP to print your name three times

In [ ]:
for i in range(0,3):
  print("Yash")

Yash
Yash
Yash

**Assingment 2.1**: WAP to add three numbers and print the result.

In [ ]:
a=10
b=20
c=30
d=a+b+c

print(a,"+",b,"+",c,"=",d)

10 + 20 + 30 = 60


**Assingment 2.2**: WAP to concatinate three strings and print the result.

In [ ]:
a="Yash"
b="Mohan"
c="Aggarwal"
d=a+b+c

print(a,"+",b,"+",c,"=",d)

Yash + Mohan + Aggarwal = YashMohanAggarwal

range(0, 10)

In [ ]:
print ("range(-10,-20,2) --> ", list(range(-10,-20,2)))

range(-10,-20,2) -->  []

**Assingment 4.1:** WAP to print the table of 7, 9.

In [ ]:
for i in range(1,11):
  print(7*i)

7
14
21
28
35
42
49
56
63
70

In [ ]:
for i in range(1,11):
  print(9*i)

9
18
27
36
45
54
63
72
81
90

**Assingment 4.2:** WAP to print the table of n and n is given by user.

In [ ]:
a=int(input("Enter a number: "))
for i in range(1,11):
  print(i*a)

Enter a number: 3
3
6
9
12
15
18
21
24
27
30

**Assingment 4.3:** WAP to add all the numbers from 1 to n and n is given by user.

In [ ]:
a=int(input("Enter a number: "))
ans=sum(range(1,a+1))
print(ans)

Enter a number: 3
6

**Assingment 5.1:** WAP to find max amoung three numbers and input from user. [Try max() function]

In [ ]:
a=int(input("Enter a number: "))
b=int(input("Enter a number: "))
c=int(input("Enter a number: "))

ans=max(a,b,c)
print(ans)

Enter a number: 2
Enter a number: 3
Enter a number: 4
4

**Assingment 5.2:** WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.

In [ ]:
n=int(input("Enter a number: "))
ans=sum(range(1,n+1,63))
print(ans)

Enter a number: 900
6630

**Assingment 5.3:** WAP to add all prime numbers from 1 to n and n is given by the user.

In [ ]:
n=int(input("Enter a number: "))

def isPrime(n):
  if n==1:
    return False
  for i in range(2,n//2):
    if n%i==0:
      return False
  return True

ans=sum(i for i in range(1,n+1) if isPrime(i))
print(ans)

Enter a number: 6
14

**Assingment 6.1:** WAP using function that add all odd numbers from 1 to n, n is given by the user.

In [ ]:
n=int(input("Enter a number: "))
for i in range(1,n+1):
  if i%2==1:
    print(i)

Enter a number: 7
1
3
5
7

**Assingment 6.2:** WAP using function that add all prime numbers from 1 to n, n given by the user.

In [ ]:
n=int(input("Enter a number: "))

def isPrime(n):
  if n==1:
    return False
  for i in range(2,n//2):
    if n%i==0:
      return False
  return True

ans=sum(i for i in range(1,n+1) if isPrime(i))
print(ans)

Enter a number: 6
14